
.container {
    width: 700px;
    margin-top: 100px;
    .container_div {
        margin-top: 5px;
        &_title {
            position: relative;
            background-color: #aaa7a5;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 10px;
            &:hover {
                background-color: grey;
            }
            &>span{
                font-size: 25px;
                cursor: pointer;
                
            }
            &>h4 {
                font-weight: 600;
                cursor: default;
            }
        }
        &_text {
            display: none;
            transition: all 0.5s cubic-bezier(0,1,0,1);
        }
    }
}
.showText{
    display: block;
    background-color: #f9faf7;
    padding: 5px 10px;
    cursor: default;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}